.app {
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  margin: 0 auto;
  max-width: 120px;
}

.clock {
  margin: 10px 0;
  border: 4px solid lightpink;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.icon.day {
  background-color: #a70c30;
}

.icon.night {
  background-color: #083b98;
}

.lot {
  display: block;
  position: relative;
  border: 4px solid lightcoral;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.price {
  position: absolute;
  left: 90%;
  top: calc(50% - 10px);
}

.loading {
  background-color: lightpink;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
